<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Symfony Demo application{% endblock %}</title>

        {% block stylesheets %}
        {# uncomment the following lines to compile SCSS assets with Assetic

            {% stylesheets filter="scssphp" output="css/app.css"
                "%kernel.root_dir%/Resources/assets/scss/bootstrap.scss"
                "%kernel.root_dir%/Resources/assets/scss/font-awesome.scss"
                "%kernel.root_dir%/Resources/assets/css/*.css"
                "%kernel.root_dir%/Resources/assets/scss/main.scss"
            %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        #}

            <link rel="stylesheet" href="{{ asset('css/app.css') }}">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body id="{% block body_id %}{{ app.request.get('_route') }}{% endblock %}">

        {% block header %}
            {% include 'Layout/header.html.twig' %}
        {% endblock %}

        <div class="container body-container">
            {% block body %}
                <div class="row">
                    <div id="main" class="col-sm-9">
                        {% block main %}{% endblock %}
                    </div>

                    <div id="sidebar" class="col-sm-3">
                        {% block sidebar %}
                            <div class="section about">
                                <div class="well well-lg">
                                    <p>
                                        {{ 'help.app_description'|trans|raw }}
                                    </p>
                                    <p>
                                        {{ 'help.more_information'|trans|raw }}
                                    </p>
                                </div>
                            </div>
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>

        {% block footer %}
            {% include 'Layout/footer.html.twig' %}
        {% endblock %}

        {% block javascripts %}
        {# uncomment the following lines to combine and minimize JavaScript assets with Assetic
            {% javascripts filter="?jsqueeze" output="js/app.js"
                "%kernel.root_dir%/Resources/assets/js/jquery-2.1.4.js"
                "%kernel.root_dir%/Resources/assets/js/bootstrap-3.3.4.js"
                "%kernel.root_dir%/Resources/assets/js/highlight.pack.js" %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        #}

            <script src="{{ asset('js/app.js') }}"></script>
            <script src="{{ asset('js/script.js') }}"></script>

            <script>
                $(document).ready(function() {
                    hljs.initHighlightingOnLoad();
                });
            </script>
        {% endblock %}

    </body>
</html>
