{% extends '::base.html.twig' %}

{% block body -%}
    <div class="page-header">
        <h1>{{ 'map.title_edit'|trans|raw }}</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">

            {{ form(form) }}

        </div>
    </div>

{#    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group pull-right">
                <a class="btn btn-default"
                   href="{{ path('map') }}">
                    {{ 'action.back_to_list'|trans }}
                </a>

                {{ form_start(delete_form) }}

                {{ form_widget(delete_form.submit, { 'attr':
                    {
                        'class': 'btn btn-danger',
                        'placeholder': 'Nombre'
                    }
                }) }}

                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>#}
{% endblock %}
