{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Archetype list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Slug</th>
                <th>Physicaldamage</th>
                <th>Magicdamage</th>
                <th>Hitpoints</th>
                <th>Magicpoints</th>
                <th>Armor</th>
                <th>Magicresistance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('archetype_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.physicalDamage }}</td>
                <td>{{ entity.magicDamage }}</td>
                <td>{{ entity.hitPoints }}</td>
                <td>{{ entity.magicPoints }}</td>
                <td>{{ entity.armor }}</td>
                <td>{{ entity.magicResistance }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('archetype_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('archetype_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('archetype_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
